html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Lato', sans-serif;
  color: #454249;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  background-color: #39EDDB;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;

}
.btn {
  background-color: rgb(245, 245, 245);
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

#title {
  text-align: center;
  margin-bottom: .25em;
  margin-top: .15em
}

#playerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1.25rem;
  font-weight: 700;
}

.playerNames {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap; 
}

.playerNameFields {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nameField {
  margin: 0 2em;
}

.player {
  background-color: #ed8139;
  color: white;
}

#playerContainer hr {
  width: 100%;
  height: 0;
  margin: 0;
  border: 0;
}

#resetBtn {
  display: none;
}

#boardContainer {
  visibility: hidden;
  display: grid;
  background-color: #454249;
  width: 715px;
  height: 715px;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: .5rem;
  row-gap: .5rem;
  justify-items: stretch;
  align-items: stretch;
  justify-content: center;
}

.space {
  font-weight: 400;
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #39EDDB;
}

.X {
  background-color: #ED5551;
}

.O {
  background-color: #45A4ED;
}

#gameOverContainer {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(90, 90, 90, 0.5);
  height: 100%;
  width: 100%;
  z-index: 9999;
}

#gameOverPopUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: honeydew;
  height: 14%;
  width: 33%;
  border-radius: 5px;
}

#playAgainBtn {
  background-color: rgba(177, 164, 164, 0.75);
}
